<%=form_tag( {action: "answer"}, :authenticity_token => true, :remote => true ) do %>
  <div class="question_form" id="<%=res[:page]%>-page">
    <%=render "doop/navbar", :res => res, :doop => doop %> 
    <h1 id="page_title"><%=res[:page_title]%></h1>
    <% content.call %>
  </div>

  <button id="nav_path" style="display: none;" name="nav_path"></button>
  <button id="back_a_page" name="back_a_page" class="button-secondary" value="pressed">Go Back</button>
  <script>
    $("#back_a_page").css( "display", "none" )
  </script>
  <input type="hidden" id="doop_data" name="doop_data" value="<%=request["doop_data"]%>"/>
<% end %>
