<%=question_form doop, res do %>
  <%=question "/page/your_details" do |root, answer| %>

    <%=question "/page/your_details/your_name" do |root,answer| %>
      <div class="textfield">
        <label for="firstname">First names</label>
        <input id="firstname" name="b_firstname" type="text" value="<%=answer["firstname"]%>"/>
      </div>
      <div class="textfield">
        <label for="surname">Surname</label>
        <input id="surname" name="b_surname" type="text" value="<%=answer["surname"]%>"/>
      <br/>
      <button>Continue</button><br/>
    <% end %>

    <%=question "/page/your_details/address_history" do |root,answer| %>

      <p>We need to know where you have lived for the past 6 years</p>

      <% list "/page/your_details/address_history/address__(\\d+)" do |path,index| %>
        <%=question path, :title => "Address #{index}" do |root,answer| %>
          <div class="textfield">
            <label for="address1">Address</label>
            <input id="address1" type="text" name="b_address1" value="<%=answer['address1']%>"/>
          </div>
          <div class="textfield">
            <input id="address2" type="text" name="b_address2" value="<%=answer['address2']%>"/>
          </div>

          <div class="textfield">
            <input id="address3" type="text" name="b_address3" value="<%=answer['address3']%>"/>
          </div>
          <div class="textfield">
            <label for="postcode">Postcode</label>
            <input id="postcode" type="text" name="b_postcode" value="<%=answer['postcode']%>"/>
          </div>
          <% if index > 1 %>
            <button class="button-secondary" name="remove_address">Remove</button><br/>
          <% end %>
          <button>Continue</button>
        <% end %>
      <% end %>
      <% when_answered "/page/your_details/address_history" do %>
        <button name="add_address" class="button-secondary">Add another address</button><br/>
        <button>Continue</button>
      <% end %>

    <% end %>

    <% when_answered "/page/your_details" do %>
      <button>Continue and Save</button>
    <% end %>
  <% end %>

<% end %>
