<%=question_form doop, res do %>

  <%=question "/page/children" do |root,answer| %>
    <p><strong>List the children you want to claim for.</strong></p>
    <%=info_box do %>
      <p>For each child in this claim we need to see their:</p>
      <li>birth certificate (full or short version)</li>
      <li>adoption certificate</li>
      <p>If any child in this claim was born outside the UK we also need to see their passport(s) or their travel documents used to enter the UK.</p>

      <p><strong>We will normally return your documents within 4 weeks.</strong></p>

    <% end %>
    <p>You don't need to tell us about any children you already get Child Benefit for.</p>

    <% list "/page/children/child__(\\d+)" do |path,index| %>

      <%=question "#{path}", :title => "Child #{index}" do |root,answer| %>

        <%=question "#{path}/name" do |root,answer| %>
          <%=doop_textfield "firstname", answer, res, :label => "Firstname" %>
          <%=doop_textfield "middlenames", answer, res, :label => "Middlename(s)" %>
          <%=doop_textfield "surname", answer, res, :label => "Surname or family name" %>
          <button>Continue</button>
        <% end %>

        <%=question "#{path}/gender" do |root,answer| %>
          <button name="b_answer" value="Male">Male</button><br/>
          <button name="b_answer" value="Female">Female</button>
        <% end %>

        <%=question "#{path}/dob" do |root,answer| %>
          <p>Please provide this in the format dd/mm/yyyy eg. 25/02/1977</p>
          <%=doop_textfield "answer", answer, res %>
          <button>Continue</button>
        <% end %>

        <%=question "#{path}/own_child" do |root,answer| %>
          <button name="b_answer" value="Yes">Yes, this is my own child</button><br/>
          <button name="b_answer" value="No">No, this is someone elses child</button>
        <% end %>

        <%=question "#{path}/birth_certificate" do |root,answer| %>
          <%=info_box do %>
            <p>Please upload a photo, of the birth certificate or adoption papers.</p>
            <p>If you are applying using a mobile device with a camera, when you click the upload button, your camera will be activated.</p>
          <% end %>
          <%=file_uploader answer%>
        <% end %>

        <% when_answered path do %>
           <% if index > 1 %>
             <button class="button-secondary" name="remove_child">Remove child</button><br/>
           <% end %>
          <button>Continue</button>
        <% end %>
      <% end %>

    <% end %>
    <% when_answered "/page/children" do %>
      <button name="add_child" class="button-secondary">Add another child</button><br/>
      <button>Continue and save</button>
    <% end %>

  <% end %>
<% end %>
