<%=question_form doop, res do %>
  <%=question "/page/preamble" do |root, answer| %>

    <h2>To apply for Child Benefit, you'll need:</h2>
    <ul class="before_you_begin">

      <li class="nino">You and your partners national insurance numbers</li>

      <li class="passport">Your childrens birth certificates</li>

      <li class="time">15 mins</li>
    </ul>

      <h3>Your information</h3>
    <p>By applying for child benefit online, you consent that we may process your personal data (including sensitive personal data) that we collect from you.</p>


    <% when_question :changed => "/page/preamble/income_more_than_50000" do |current_answer, id| %>
      <%=change_answer_tooltip id do %>
        <p>If you change this answer, additional questions may be asked</p>
      <% end %>

    <% end %>

    <%=question "/page/preamble/income_more_than_50000" do |root,answer| %>
      <button name="b_answer" value="Yes">Yes, myself or my partner have an individual income of more than £50,000 a year</button><br/>
      <button name="b_answer" value="No">No, myself and or my partner both have incomes less than £50,000 a year</button>
    <% end %>

    <% when_question :last_answered => "/page/preamble/income_more_than_50000" do |answer, id| %>
      <% if answer == "No" %>
        <%=tooltip id do %>
        <p>If either you or your parnter have an individual income of more than £50,000 a year, then the higher earner, will be liable for
        income tax on any child benefit received.</p>
        <% end %>
      <% end %>
    <% end %>

    <%=question "/page/preamble/do_you_still_want_to_apply" do |root,answer| %>

        <%=info_box do %>
          <p>If either you or your partner have an individual income of more than £50,000 a year (income from all
          sources before personal allowances and tax is taken off, less any pension and gift aid contributions), then the partner with the
          higher income will have to pay a High Income Child Benefit Charge on some, or all, of the Child Benefit you receive.<p>
          <p><strong>If these changes apply to you or your partner, you should jointly decide whether to stop getting Child Benefit payments,
            and not have to pay a tax charge, or continue getting Child Benefit payments and declare them for tax purposes.</strong><p>
        <% end %>

      <button name="b_answer" value="Yes">Yes, I still want to apply for child benefit</button><br/>
    <% end %>

    <%=question "/page/preamble/proof_of_id" do |root,answer| %>
      <%=info_box do %>
        <p>Please upload a photo, of either your passport, driving license and a utility bill 
        with your name and address visible.</p>
        <p>If you are applying using a mobile device with a camera, when you click the upload button, your camera will be activated.</p>
      <% end %>
      <%=file_uploader answer%>
    <% end %>

    <% when_answered "/page/preamble" do %>
      <button>Continue and Save</button>
    <% end %>
  <% end %>

<% end %>
